<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>投稿フォーム</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
    <h1>投稿フォーム</h1>
    <div class="container">
        <form method="post" action="{% url 'simplechat:post' %}">
            {% csrf_token %}
            <p>
                <label for="author">名前:</label>
                <input type="text" id="author" name="author" value="{{ request.session.author }}" required>
            </p>
            <p>
                <label for="content">内容:</label>
                <textarea id="content" name="content" rows="6" placeholder="ご自由にお書きください。" required></textarea>
            </p>
            <button type="submit">投稿</button>
        </form>
        <p><a href="{% url 'simplechat:post_list' %}">投稿一覧を見る</a></p>
    </div>
</body>

</html>
